html {
    color:black;
    background-color: #e0d0f7;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='96' viewBox='0 0 60 96'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.12'%3E%3Cpath d='M36 10a6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-12 0 6 6 0 0 0-6-6 6 6 0 0 1-6-6V10a6 6 0 1 1 12 0 6 6 0 0 0 12 0zm24 78a6 6 0 0 1-6-6 6 6 0 0 0-6-6 6 6 0 0 1-6-6V58a6 6 0 1 1 12 0 6 6 0 0 0 6 6v24zM0 88V64a6 6 0 0 0 6-6 6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-6 6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
h1 {
    text-align: center;
    text-transform: uppercase;
}
button {
    padding:5px 20px 5px 20px;
    border-radius: 15px;
    background-color: rgb(166, 102, 184);
    margin-bottom: 50px;
}
.btn-click {
    text-align: center;
} 
.imagePlacement{
   text-align: center;
   max-width: 100%; /* Set a maximum width */
      margin: 0 auto; /* Center the container horizontally */
}
#black {
    color: black;
}
img {
    width: 500px; /* Set the desired width */
    height: 500px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    margin-bottom: 20px;
  }
  #small {
    height: 90px;
    width: 90px;
    margin: 0px;
    padding: 0px;
  }


  @media only screen and (max-device-width: 414px) and (orientation: portrait) {
    img {
      width: 300px; 
      height: 300px; 